---
layout: default
pagination:
  enabled: true
  per_page: 6
  trail:
    before: 2
    after: 2
---

    <section id="slider" class="grid">
      <div class="flexslider col-12 grid">
        <ul class="slides col-12 grid">
          {% for post in site.posts limit:2 %}
          <li class="grid-noGutter-noBottom" style="background-image: url('{{ post.featured_image }}')">
            <div class="slider-text center col-6" data-push-left="off-3">
              <h2>{{post.title}}</h2>
              <hr class="margin-top margin-bottom">
              <a href="{{post.url}}" class="button-slider center">Continue reading</a>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="grid">
      <div class="grid col-9_xs-12">
        {% for post in paginator.posts %}
          <article class="col-6_xs-12">
            <a href=" {{ post.url }}">
            <img src="{{post.featured_image}}" class="image-profile margin-top-l margin-bottom"/>
            </a>
          {% if post.categories[0] != 'Highlight' %}
            <a href="/category/{{post.categories[0]}}" class="tag">{{post.categories[0]}}</a>
          {%endif%}
          {% if post.categories[1] != 'Highlight' %}
            <a href="/category/{{post.categories[1]}}" class="tag">{{post.categories[1]}}</a>
          {%endif%}
          {% if post.categories[2] != 'Highlight' %}
            <a href="/category/{{post.categories[2]}}" class="tag">{{post.categories[2]}}</a>
          {%endif%}
            <div class="article-text">
              <h2 class="blog-post-title">
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h2>
              <p class="post-preview-date margin-bottom">{{ post.date | date: "%B %-d, %Y"}}</p>
              <p class="margin-top margin-bottom">{{post.excerpt | truncatewords: 20}}</p>
              <a class="button-article margin-top" href="{{post.url}}">Continue reading</a>
            </div>
          </article>
          {% endfor %}

          {% if paginator.total_pages > 1 %}
          <div class="col-12 center">
            <ul id="pagination" class="margin-top-l">

              {% if paginator.previous_page %}
                <li>
                  <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Previous</a>
                </li>
              {% else %}
                <li>
                  <span>Previous</a>
                </li>
              {% endif %}

              {% if paginator.page_trail %}
                {% for trail in paginator.page_trail %}
                  <li {% if page.url == trail.path %}class="selected"{% endif %}>
                      <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
                  </li>
                {% endfor %}
              {% endif %}

              {% if paginator.next_page %}
                <li>
                  <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next</a>
                </li>
              {% else %}
                <li>
                  <span>Next</a>
                </li>
              {% endif %}

            </ul>
            {% endif %}
          </div>
      </div>

      <aside class="col-3_xs-12 center margin-top-l padding-left">
        <hr class="first-line">
        <h4>About</h4>
        <hr>
        <img src="/assets/img/profile.jpg" class="image-profile margin-top-s"/>
        <p class="left margin-top margin-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h4 class="center">Follow</h4>
        <hr>
        <a href="https://www.instagram.com/gabicicconeto/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <h4>Subscribe</h4>
        <hr>
        <form class="center">
          <p class="center margin-bottom-l margin-top">Stay connected</p>
          <input type="text" name="your e-mail" placeholder="Your e-mail address">
          <input class="button" type="submit" value="submit">
        </form>
      </aside>
    </section>

    <section id="highlights" class="grid-middle-center-noGutter-noBottom">
      <div class="col-5_xs-3 right-border">
        <hr>
        <hr>
      </div>
      <div class="col-2_xs-6">
        <p class="center highlights">Highlights</p>
      </div>
      <div class="col-5_xs-3 left-border">
        <hr>
        <hr>
      </div>
      <div class="col-12 grid padding-2">
        {% for post in site.categories.Highlight limit:3 %}
          <article class="col-4_xs-12">
              <img src="{{post.featured_image}}" class="image-profile margin-top margin-bottom"/>
              {% if post.categories[0] != 'Highlight' %}
                <a href="/category/{{post.categories[0]}}" class="tag">{{post.categories[0]}}</a>
              {%endif%}
              {% if post.categories[1] != 'Highlight' %}
                <a href="/category/{{post.categories[1]}}" class="tag">{{post.categories[1]}}</a>
              {%endif%}
              {% if post.categories[2] != 'Highlight' %}
                <a href="/category/{{post.categories[2]}}" class="tag">{{post.categories[2]}}</a>
              {%endif%}
              <h2 class="blog-post-title">{{ post.title }}</h2>
            <div class="article-text">
              <p class="post-preview-date margin-bottom">{{ post.date | date: "%B %-d, %Y"}}</p>
              <p class="margin-top margin-bottom">{{post.excerpt | truncatewords: 20 }}</p>
              <a class="button-article-highlight margin-top" href="{{post.url}}">Continue reading</a>
            </div>
          </article>
          {% endfor %}
      </article>
    </section>

    <section class="col-12 center margin-top-l">

      <meta name="description" content="map created using amCharts pixel map generator" />

<!-- amCharts javascript sources -->
<script type="text/javascript" src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>

<!-- amCharts javascript code -->
<script type="text/javascript">
  AmCharts.makeChart("map",{
      "type": "map",
      "pathToImages": "http://www.amcharts.com/lib/3/images/",
      "addClassNames": true,
      "fontSize": 15,
      "color": "#000000",
      "projection": "mercator",
      "backgroundAlpha": 1,
      "backgroundColor": "rgba(255,255,255,1)",
      "dataProvider": {
        "map": "worldLow",
        "getAreasFromMap": true,
        "images": [
          {
            "top": 30,
            "left": 50,
            "width": 60,
            "height": 30,
          }
        ],
        "areas": [
          {
            "id": "AR",
            "title": "Argentina",
            "color": "rgba(46,219,176,1)"
          },
          {
            "id": "BR",
            "title": "Brazil",
            "color": "rgba(46,219,176,1)"
          },
          {
            "id": "CH",
            "title": "Switzerland",
            "color": "rgba(46,219,176,1)"
          },
          {
            "id": "DE",
            "title": "Germany",
            "color": "rgba(46,219,176,1)"
          },
          {
            "id": "ES",
            "title": "Spain",
            "color": "rgba(46,219,176,1)"
          },
          {
            "id": "FR",
            "title": "France",
            "color": "rgba(46,219,176,1)"
          },
          {
            "id": "GB",
            "title": "United Kingdom",
            "color": "rgba(46,219,176,1)"
          },
          {
            "id": "ID",
            "title": "Indonesia",
            "color": "rgba(46,219,176,1)"
          },
          {
            "id": "IT",
            "title": "Italy",
            "color": "rgba(46,219,176,1)"
          },
          {
            "id": "JP",
            "title": "Japan",
            "color": "rgba(46,219,176,1)"
          },
          {
            "id": "MA",
            "title": "Morocco",
            "color": "rgba(46,219,176,1)"
          },
          {
            "id": "MX",
            "title": "Mexico",
            "color": "rgba(46,219,176,1)"
          },
          {
            "id": "NL",
            "title": "Netherlands",
            "color": "rgba(46,219,176,1)"
          },
          {
            "id": "PT",
            "title": "Portugal",
            "color": "rgba(46,219,176,1)"
          },
          {
            "id": "PY",
            "title": "Paraguay",
            "color": "rgba(46,219,176,1)"
          },
          {
            "id": "US",
            "title": "United States",
            "color": "rgba(46,219,176,1)",
            url: "/category/usa"
          },
          {
            "id": "UY",
            "title": "Uruguay",
            "color": "rgba(46,219,176,1)"
          }
        ]
      },
      "balloon": {
        "horizontalPadding": 15,
        "borderAlpha": 0,
        "borderThickness": 1,
        "verticalPadding": 15
      },
      "areasSettings": {
        "color": "rgba(206,206,206,1)",
        "outlineColor": "rgba(255,255,255,1)",
        "rollOverOutlineColor": "rgba(255,255,255,1)",
        "rollOverBrightness": 20,
        "selectedBrightness": 20,
        "selectable": true,
        "unlistedAreasAlpha": 0,
        "unlistedAreasOutlineAlpha": 0
      },
      "imagesSettings": {
        "alpha": 1,
        "color": "rgba(206,206,206,1)",
        "outlineAlpha": 0,
        "rollOverOutlineAlpha": 0,
        "outlineColor": "rgba(255,255,255,1)",
        "rollOverBrightness": 20,
        "selectedBrightness": 20,
        "selectable": true
      },
      "linesSettings": {
        "color": "rgba(206,206,206,1)",
        "selectable": true,
        "rollOverBrightness": 20,
        "selectedBrightness": 20
      },
      "zoomControl": {
        "zoomControlEnabled": true,
        "homeButtonEnabled": false,
        "panControlEnabled": false,
        "right": 38,
        "bottom": 30,
        "minZoomLevel": 0.25,
        "gridHeight": 100,
        "gridAlpha": 0.1,
        "gridBackgroundAlpha": 0,
        "gridColor": "#FFFFFF",
        "draggerAlpha": 1,
        "buttonCornerRadius": 2
      }
    });
</script>
<body style="margin: 0;background-color: rgba(255,255,255,1);">
<div id="map" style="width: 100%; height: 580px;"></div>
    </section>
