<nav>
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li>
      <a href="#">Destinations</a>
      <ul class="sub-menu">
        <li>
          <a href="/category/africa">Africa</a>
          <ul class="sub-sub-menu">
            <li><a href="/category/morocco">Morocco</a></li>
          </ul>
        </li>
        <li>
          <a href="/category/americas">Americas</a>
          <ul class="sub-sub-menu">
            <li><a href="/category/brazil">Brazil</a></li>
            <li><a href="/category/mexico">Mexico</a></li>
            <li><a href="/category/usa">USA</a></li>
          </ul>
        </li>
        <li>
          <a href="/category/asia">Asia</a>
          <ul class="sub-sub-menu">
            <li><a href="/category/indonesia">Indonesia</a></li>
            <li><a href="/category/japan">Japan</a></li>
          </ul>
        </li>
        <li>
          <a href="/category/europe">Europe</a>
          <ul class="sub-sub-menu">
            <li><a href="/category/germany">Germany</a>
              <li><a href="#">Italy</a></li>
              <li><a href="/category/portugal">Portugal</a></li>
              <li><a href="/category/spain">Spain</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="/category/travel-tips">Travel Tips</a>
        <ul class="sub-menu">
          <li><a href="/category/travel-tips">Travel Tips</a></li>
          <li><a href="/category/guides">Guides</a></li>
        </ul>
    </li>
    <li><a href="/category/lifestyle">Lifestyle</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/contact.html">Contact</a></li>
  </ul>
</nav>
