<nav>
  <ul>
    <li><a class="menu-line" href="/index.html">Home</a></li>
    <li class="this-is-accordion">
      <a class="menu-line just-drop-down" href="/category/travel" data-control>Destinations</a>
      <ul class="sub-menu" data-content>
        <li class="this-is-accordion">
          <a class="menu-line2 just-drop-down" href="/category/africa" data-control>Africa</a>
          <ul class="sub-sub-menu" data-content>
            <li><a class="menu-line3" href="/category/morocco">Morocco</a></li>
          </ul>
        </li>
        <li class="this-is-accordion">
          <a class="menu-line2 just-drop-down" href="/category/americas" data-control>Americas</a>
          <ul class="sub-sub-menu" data-content>
            <li><a class="menu-line3" href="/category/brazil">Brazil</a></li>
            <li><a class="menu-line3" href="/category/mexico">Mexico</a></li>
            <li><a class="menu-line3" href="/category/usa">USA</a></li>
          </ul>
        </li>
        <li class="this-is-accordion">
          <a class="menu-line2 just-drop-down" href="/category/asia" data-control>Asia</a>
          <ul class="sub-sub-menu" data-content>
            <li><a class="menu-line3" href="/category/indonesia">Indonesia</a></li>
            <li><a class="menu-line3" href="/category/japan">Japan</a></li>
          </ul>
        </li>
        <li class="this-is-accordion">
          <a class="menu-line2 just-drop-down" href="/category/europe" data-control>Europe</a>
          <ul class="sub-sub-menu" data-content>
            <li><a class="menu-line3" href="/category/germany">Germany</a>
            <li><a class="menu-line3" href="/category/italy">Italy</a></li>
            <li><a class="menu-line3" href="/category/portugal">Portugal</a></li>
            <li><a class="menu-line3" href="/category/spain">Spain</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="this-is-accordion">
      <a class="menu-line just-drop-down" href="/category/travel-tips" data-control>Travel Tips</a>
      <ul class="sub-menu" data-content>
        <li><a class="menu-line2" href="/category/travel-tips">Travel Tips</a></li>
        <li><a class="menu-line2" href="/category/guides">Guides</a></li>
      </ul>
    </li>
    <li><a class="menu-line" href="/category/lifestyle">Lifestyle</a></li>
    <li><a class="menu-line" href="/about.html">About</a></li>
    <li><a class="menu-line" href="/contact.html">Contact</a></li>
  </ul>
</nav>
