/*----------CSS Reset----------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/*----------Helper----------*/

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.margin-auto {
  margin: auto;
}

.margin-top {
  margin-top: 1rem;
}

.margin-top-s {
  margin-top: .8rem;
}

.margin-top-l {
  margin-top: 3rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-bottom-l {
  margin-bottom: 1.4rem;
}

.margin-bottom-xl {
  margin-top: 3rem;
}

.margin-left {
  margin-left: 2rem;
}

.margin-right {
  margin-right: 2rem;
}

.padding-1 {
  padding: 1%;
}

.padding-left {
  padding-left: 2rem;
}

.padding-sides {
  padding: 0 5%;
}

.padding-2,
[class*=grid-][class*=-noGutter]>[class*=col-].padding-2,
[class*=grid-][class*=-noGutter]>[class~=col].padding-2 {
  padding: 2%;
}

.padding-5,
[class*=grid-][class*=-noGutter]>[class*=col-].padding-5,
[class*=grid-][class*=-noGutter]>[class~=col].padding-5 {
  padding: 5%;
}

.left-border {
  border-left: solid 1px #D3D3D3;
}

.right-border {
  border-right: solid 1px #D3D3D3;
}

.no-padding {
  padding: 0;
}

/*----------General Styles----------*/

/*----body----*/

section {
  padding: 0 5%;
}


/*----Typography----*/

h1 {
  text-align: center;
  color: #202020;
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
  margin: 6rem;
  margin-bottom: 0;
}

h2 {
  color: #202020;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  margin-top: .6rem;
  margin-bottom: 1rem;
}

h3 {
  text-align: center;
  color: #A8A8A8;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 6rem;
}

h4 {
  color: #7C9885;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  padding: 2%;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

h5 {
  color: #202020;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 2%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

}

p {
  line-height: 1.5;
  color: #585858;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.post-preview-date {
  color: #585858;
  font-family: 'Roboto', sans-serif;
  font-size: .85rem;
  text-transform: uppercase;
}

.titles {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 3rem;
}

/*----------Slideshow Styles----------*/

#slider {
  padding: 0;
  min-height: 50vh;
}

#slider .flexslider {
  padding: 0;
  border: none;
  margin: 0;
}

#slider li {
  background-position: center;
  background-size: cover;
}

#slider li .slider-text {
  padding-top: 130px;
  padding-bottom: 130px;
}

#slider .flex-control-nav {
  bottom: 10px;
  z-index: 99999;
}

#slider .flex-control-paging li a {
  background: rgba(255, 255, 255, 0.75);
  box-shadow: none;
}

#slider .flex-control-paging li a.flex-active,
#slider .flex-control-paging li a:hover {
  background: rgba(255, 255, 255, 1);
}

#slider .flex-direction-nav a:before {
  color: white;
}

#slider .flexslider:hover .flex-direction-nav .flex-next {
  right: 25px;
}

#slider .flexslider:hover .flex-direction-nav .flex-prev {
  left: 25px;
}

#slider h2 {
  color: white;
  font-size: 3.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#slider hr {
  border: none;
  background-color: white;
  max-width: 50px;
  height: 2px;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

#slider .button-slider {
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 30%;
  padding: 2%;
}

/*----------Header Styles----------*/

nav {
  text-align: center;
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
}

nav ul li {
  display: inline-block;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #202020;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1.5rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  font-family: 'Roboto', sans-serif;
}

nav a:hover {
  color: #7C9885;
}

nav .sub-menu,
nav .sub-sub-menu {
  display: none;
  text-align: left;
}

nav .sub-menu {
  position: absolute;
  min-width: 200px;
  border-top: 1px solid #D3D3D3;
  z-index: 999;
}

nav .sub-menu li {
  position: relative;
  display: block;
}

nav .sub-menu li a {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border: 1px solid #D3D3D3;
  border-top: none;
  background-color: white;
  width: 100%;
}

nav .sub-menu li:hover .sub-sub-menu {
  display: block;
}

nav .sub-menu li .sub-sub-menu {
  position: absolute;
  min-width: 200px;
  left: 100%;
  top: 0;
  border-top: 1px solid #D3D3D3;
  margin-top: -1px;
  margin-left: -1px;
}

nav .sub-menu .sub-sub-menu li a {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border: 1px solid #D3D3D3;
  border-top: none;
  background-color: white;
}

nav li:hover .sub-menu {
  display: block;
}

/*----------Aside Styles----------*/

.first-line {
  margin-top: .1rem;
}

aside hr {
  outline: none;
  border: none;
  height: 1px;
  margin: 0.5rem auto;
  display: block;
  width: 100%;
  background-color: #D3D3D3;
  max-width: 250px;
}

aside .fa-instagram {
    font-size: 1.5rem;
    color: #202020;
    margin-top: .5rem;
    margin-bottom: .2rem;
}

.image-profile {
  background-image: url('../assets/img/profile.jpg');
  background-size: cover;
  background-position: center;
}

input {
  display: block;
  border: 1px solid #D3D3D3;
  color: #585858;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 2%;
}

.button {
  background-color: #7C9885;
  color: white;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  margin-top: 0.5rem;
  display: block;
  width: 100%;
  padding: 2%;
}

/*----------Articles Styles----------*/

.image-articles {
  background-image: url('../assets/img/img-articles.jpg')
  background-size: cover;
  background-position: center;
  margin-bottom: 0.8rem;
}

a.tag {
  color: #7C9885;
  text-decoration: none;
  text-transform: uppercase;
  padding: .2rem .9rem .2rem 0;
  font-size: .8rem;
  font-family: 'Roboto', sans-serif;
}

.button-article {
  background-color: white;
  color: #7C9885;
  border: 1px solid #D3D3D3;
  font-size: 0.7rem;
  font-family: 'Roboto', sans-serif;
  display: block;
  width: 30%;
  padding: 2%;
  text-transform: uppercase;
}

.button-article:hover {
  background-color: #7C9885;
  color: white;
}

/* -- BLOG POST --*/

.post {
  max-width: 900px;
  margin: 2rem auto;
}

.post p {
    margin-bottom: 1rem;
}

.post img {
  margin: 0.5rem 0;
}
/*----------Highlight Styles----------*/

#highlights {
  margin-top: 1.5rem;
}

#highlights hr {
  margin-top: 3px;
  margin-bottom: 3px;
  outline: none;
  border: none;
  background-color: #D3D3D3;
  height: 1px;
}

.highlights {
  text-align: center;
  font-size: 1.2rem;
  color: #202020;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.3%;
}

.image-hl {
  background-image: url('../assets/img/img-hl.jpg')
  background-size: cover;
  background-position: center;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.button-article-highlight {
  background-color: white;
  color: #7C9885;
  border: 1px solid #D3D3D3;
  font-size: 0.7rem;
  font-family: 'Roboto', sans-serif;
  display: block;
  width: 40%;
  padding: 2%;
  text-transform: uppercase;
}

.button-article-highlight:hover {
  background-color: #7C9885;
  color: white;
}

/*----------Footer Styles----------*/

footer {
  position: relative;
}

footer div {
  position: absolute;
  width: 100%;
  top: 57%;
  margin-top: -28px;
}

footer p {
  display: inline-block;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: .3rem 1.5rem .6rem 1.5rem;
}

footer .fa-instagram {
  position: relative;
  font-size: 1.5rem;
  color: #202020;
  top: 3px;
}

/*----------Home Page Styles----------*/

/*-----Contact Page------*/

.contact-line {
  height: 1px;
  outline: none;
  border: none;
  width: 30%;
  background-color: #D3D3D3;
  margin-left: auto;
  margin-right: auto;
}

.contact-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contact-form textarea {
  width: 100%;
}

.contact-form input, .contact-form textarea {
  margin-bottom: 1rem;
}

.contact-form p {
  margin-bottom: .5rem;
}

.button-send {
  background-color: #7C9885;
  color: white;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  margin-top: 0.5rem;
  display: block;
  width: 30%;
  padding: 2%;
}

/*-----Posts Page------*/

#disqus_thread {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.blog-post-title


/* --------- Mob-header -------*/

.mob-header {
    background-color: #7C9885;
    padding: 0.5rem;
    display: none;
}

@media screen and (max-width: 568px) {

  .mob-header {
    display: block;
    background-color: #7C9885;
    padding: 0.5rem;
  }

}

.fa-bars {
  color: white;
  font-size: 1.2rem;
}

/*----- Mobile Navigation ------*/

#mobile-navigation {
  position: fixed;
  top: 0;
  transform: translateX(-75vw);
  width: 75vw;
  height: 100vh;
  background-color: white;
  padding: 1rem;
  text-align: left;
  z-index: 99999;
  transition: all .5s ease;
  box-shadow: 0 0 20px rgba(0,0,0,0);
}

body.mobile-nav-visible #mobile-navigation {
  transform: translateX(0);
  box-shadow: 0 0 20px rgba(0,0,0,.12);
}

#mobile-navigation nav {
  border: none;
}

#mobile-navigation a {
  display: block;
  text-align: left;
  border: none;
  padding: .5rem 0 .5rem .25rem;
}

#mobile-navigation .sub-menu,
#mobile-navigation .sub-menu li .sub-sub-menu {
  border: none;
}

#mobile-navigation li {
  display: block;
}

#mobile-navigation .sub-menu,
#mobile-navigation .sub-sub-menu {
  position: static;
  display: block;
}

#mobile-navigation .menu-line {
  border-bottom: 1px solid #D3D3D3;
  margin-bottom: 0.3rem;
}

#mobile-navigation .menu-line2 {
  border-bottom: 1px solid #D3D3D3;
  margin-bottom: .3rem;
  margin-left: 1.5rem;
  width: 90%;
}

#mobile-navigation .menu-line3 {
  border-bottom: 1px solid #D3D3D3;
  margin-bottom: .3rem;
  margin-left: 3.5rem;
  width: 78%;
}

#mobile-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease;
}

body.mobile-nav-visible #mobile-overlay {
  opacity: 1;
  visibility: visible;
}


/*----------Media Queries----------*/

@media screen and (max-width:576px) {

  #slider h2 {
    font-size: 2rem;
  }

  #slider .button-slider {
    border: 1px solid white;
    color: white;
    font-size: .9rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 62%;
    padding: 2%;
  }

  .button-article {
    background-color: #7C9885;
    color: white;
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 40%;
    padding: 2%;
    text-transform: uppercase;
  }

  .button-article-highlight {
    background-color: #7C9885;
    color: white;
  }

  h2 {
    font-size: 1.7rem;
  }

  footer p {
    display: none;
  }

  nav {
    display: none;
  }

  #mobile-navigation nav {
    display: block;
  }
}
